<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<h1>Backend Querdenker.de</h1>
		<div class="row">
			<div class="col-md-12">
				<h3>Posts:</h3>
				<strong style="font-size: 6em; font-weight: 100;"><%= link_to Post.count, admin_posts_path %></strong>
				<h3>Kategorien:</h3>
				<strong style="font-size: 6em; font-weight: 100;"><%= link_to Category.count, admin_categories_path %></strong>
				<h3>Autoren:</h3>
				<strong style="font-size: 6em; font-weight: 100;"><%= link_to Adminuser.count, admin_writers_path %></strong>
			</div>
		</div>
	</div>
</div>